/* Settings Page Styles */
.auto-seo-settings th.pseudo_header{
	width:auto;
}
.auto-seo-settings textarea{
	min-width:666px;
}
.auto-seo-settings .description code{
	font-size: .9em;
	font-style: normal;
}
.auto-seo-settings .top-align{
	vertical-align: top;
}
.auto-seo-settings label.one_fifth {
	width: 19%;
	display: inline-block;
}